
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    body, html{
        margin:0;
        padding:0;
        background:#fff;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:690px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }
    .form-label.form-label-auto { display: block; float: none; text-align: left; width: inherit; }



  table{
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
     tr:nth-child(even){background-color: #f2f2f2;}
      
      tr:hover {background-color: #ddd;}
      
     th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(105, 157, 218);
        color: white;
      }